.message-container {
    width: 100%;
    height: 100%;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.message-content {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.message-card {
    width: 55%;
    height: 80%;
    background: #ffffff;
    margin: auto;
}

.message-card {
    width: 55%;
    height: 80%;
    background: #ffffff;
    margin: auto;
}

.message-inputs {
    width: 80%;
    padding: 5rem;
    border: 2px solid rgb(0, 0, 0);
}

.message-input{
    width: 100%; 
    height: 30px;
    display: block;
    padding-left: 10px;
    /* border-radius: 10px; */
  
}

  .message-media {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    /* background-color: #272c34; */
    /* border: 2px solid red; */
    display: inline-block;
}

.message-content h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .message-label {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 20px;
}

.label {
    height: 50px;
    width: 100px;
    background-color:#2a3eb1;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2rem ;
    cursor: pointer; 
}


.message-card h2 {
    font-size: 1.5rem;
    text-align: center;
}

.message-card p {
    /* font-size: 1.5rem; */
    text-indent: 1em;
    text-align: left;
}



.message-inputs {
    width: 80%;
    padding: 5rem;
    border: 2px solid rgb(0, 0, 0);
}

.message-td {
    padding-top:0.5rem;
    padding-right:1rem;
    padding-bottom:0.5rem;
    padding-left: 1rem;
    text-align: center;
   
}

.message-th {
    padding: 1rem;
    text-align: center; 
}

.message-text{
    width: 120px;
    color:red;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}


/* .form-inputs{
    border: 1px solid rgb(62, 161, 84);
    height: 800px;
} */


.editorClassName{
    /* border: 1px solid rgb(62, 161, 84); */
    height: 55vh;
    width:31vw;
}


 /* .wrapperClassName{
    border: 1px solid rgb(141, 62, 161);
    width:800px;
    height: 300px;
} */

/* .toolbarClassName{
    border: 1px solid rgb(161, 62, 62);
    width:800px;

} */