.menuBar {
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.menuLogo {
    flex-basis: auto;
}


.menuBar.nav {

    flex-basis: 100%; /* Default value */
    background: #ffffff;
    text-align: right;
}


.menuBar.nav ul li {

    /*display: inline;*/
    display: block;
    width: 100%;
    text-align: center;
    list-style: none;

}

nav ul li a {
    color: #898282;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: sans-serif, serif;

}

.menuBar nav ul li a {
    color: #413232;
    font-size: 1.1em;
    text-decoration: none;
    padding-left: 20px;
    letter-spacing: 1px;
    margin-top: 1em;
    font-family:'Oswald', sans-serif;
}

dl, ol, ul {
    margin-top: 1em;
    margin-bottom: 1rem;
    list-style: none;
}

nav ul li a.active {
   color: beige;
}

nav ul li a:hover {

    color: #fdea8d;
    color: #1be18b;
    transition: all 0.4s ease-in;
}

/* Media Queries */

@media screen and (min-width: 320px) {
    .menuBar {
        margin: 0 .75em;
        flex-wrap: nowrap;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .menuBar {
        margin: 0 .75em;
        flex-wrap: nowrap;
        font-size: 14px;
    }


    nav {
        flex-basis: auto;
    }

    nav ul li {
        display: inline;
    }
}


@media screen and (min-width: 1024px) {
    .menuBar {
        margin: 0 .75em;
        flex-wrap: nowrap;
        font-size: 14px;
    }

}
