* {
    margin: 0;
    padding: 0;
    font-family: "NewsCycle", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    background-color:white;
}

header {
    grid-area: header;
    width: 100%;
    background:#ffffff;
    position: sticky;
    z-index: 100;
    padding: .75em;
    top: 0;
    box-shadow: 0 0.8px 6px #ededed
}

i{
    font-size: 13px;
}

hr {
    background-color: #dfdfdf;
    margin: 1em;
}

.container {
    grid-area: main;
    /*margin: 0 2em 1em;*/
    padding: .75em 1em;
}

.container-margin {
    margin: 1em 3em;
}

.container-date {
    margin-bottom: 1rem;
    padding: 0px 1rem;
    margin-left: 1.2rem;
}

.container-box {
    grid-area: main;
    /*margin: 0 2em 1em;*/
    padding: .75em 1em;
}

.main-wrapper,
.full-wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 0fr 3.5fr;
    /*grid-template-rows: 0.1fr 3.5fr;*/
    grid-row-gap: .75em;
    height: 100%;
}

.main-wrapper {
    grid-template-areas:
        "header header header header header header header header header header header header header header header header"
        "main main main main main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
}

.full-wrapper {
    grid-template-areas:
        "header header header header header header header header header header header header header header header header"
        "sbleft sbleft main main main main main main main main main main main main main main"
        "sbleft sbleft main main main main main main main main main main main main main main";
}

h1.main-title {
    flex-basis: 100%;
    text-align: center;
}

/* Contenedores */
.container,
.profile-content,
.description-field
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: space-around;
    flex-wrap: wrap;
}


.row,
.description-field {
    justify-content: space-between;
    margin-bottom: .75em;
}

.full-container {
    margin: 0;
    padding: 0;
}

.full-container .content {
    flex-basis: 70%;
}

.form-content {
    flex-basis: 70%;
}


h1.main-title {
    flex-basis: 100%;
    text-align: center;
}

/* Contenedores */
.container,
.profile-content,
.description-field,
.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.row,
.description-field {
    justify-content: space-between;
    margin-bottom: .75em;
}

.full-container {
    margin: 0;
    padding: 0;
}

.full-container .content {
    flex-basis: 70%;
}

.form-content {
    flex-basis: 70%;
}

.sidebar-left {
    grid-area: sbleft;
    height: 18rem;
    margin-left: .3em;
    background-color: #ffd907;
    position: fixed;
    overflow: auto;
    width: 10rem;
    top: 7rem
}

.perfil-left {
    grid-area: sbleft;
    height: 18rem;
    margin-left: 2em;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    position: fixed;
    overflow: auto;
    width: 11rem;
    top: 7.3rem;
    border-radius: 4px;
    box-shadow: -2px 1px 4px 2px #efefef;

}

.editPerfil-left {
    grid-area: sbleft;
    height: 18rem;
    margin-left: 2em;
    background-color: #ffffff;
    position: fixed;
    overflow: auto;
    width: 11rem;
    top: 30%;

}

/* Estilos de Div*/
.sidebar-left
{
    padding: 0 0.3em;
    font-family:"Pavnam",sans-serif;
    box-shadow: 0px 3px 4px grey;
}

.sidebar-left a {
    display: block;
    color: #1d1b17;
    padding: 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}


.section-container {
    display: flex;
    flex-direction: row;
}

.sidebar-left a.active{
    background-color: #010201;
    color: white;
}

.sidebar-left a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.46);
    color: rgb(255, 251, 255);
}


.section-column{
    margin: .1rem 0;
    padding: 0.2rem;
}


select {
    border: 1px solid #e6e6e6;
}

.row-edit{
    justify-content: space-between;
    margin-bottom: .75em;
    margin-right: 0.5em;
    margin-left: .5em;
}

.column {
    padding: .75em;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}


.column-left {
    padding-right: 0.5em;
}

.column-right {
    padding-left: 0.5em;
}

.fieldset {
    min-width: 0;
    padding: 0;
    margin: 1rem;
    border: 0;
}

.table-margin {
    margin: 1rem 3rem;
}

.drop-down {
    margin: 1rem 2.5em;
    font-size: 20px;
}

.border-edit {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
}

.alert-login{
    margin-top: 1rem;
    padding: .5rem;
    background-color: #ffc1c9;
    width: 100%;
    border: 1px solid  #9b0410;
    text-align: center;
    font-size: 10px;
    color: #9b0410;
    font-weight: bolder;
    border-radius: 4px;
}

.alert-error {

    width: 100%;
}

.rdw-emoji-wrapper {
    left: 0;
    right: 5px;
}

.figure {
    width: 100px;
    height: 100px;
    background: darkgray;
    border-radius: 8rem;
    margin: 2em 2.3em 1em 2.3em;
}

.figure img {
    width: 100px;
    height: 100px;
}

.status.img {
    width: 12px;
    height: 12px;
 }

.perfil-left h5 {
    text-align: center;
    text-transform: uppercase;
    padding: .5em;
}

.perfil-left h6 {
    text-align: center;
    font-style: italic
}

.label-icon {
    display: inline-block;
    margin: 0.5rem;
    padding: .2em;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}


.flex-item {
    padding: 3px 20px;
    width: 350px;
    height: 80px;
    margin: 10px 35px;
    line-height: 100px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.form-file {
   margin-left: 5%;
    padding: .3em;
}

.form-file input {
    height: 30px;
    margin: 10px;
}

.btn {
    margin: 1em;
    top: 30%;
}


@media screen and (max-width: 700px) {
.sidebar-left {
    width: 100%;
    height: auto;
    position: relative;
}
.sidebar-left a {float: left;}
}

@media screen and (max-width: 400px) {
    .sidebar-left a {
        text-align: center;
        float: none;
    }
}

