.form-group-login
{
    width: 20rem;
    margin: 1.2em;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 2rem;
    border-radius: .2rem;
}

.form-group-register
{
    width: 33rem;
    margin: 1em;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 1rem 2rem;
    border-radius: .2rem;
}

input[type="text"],
input[type="password"] {
    margin:8px 0;
}

input[type="password"] 
{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: "Pavanam", sans-serif;
}

input[type=text]:focus 
{
    border: 3px solid #555;
}

.subtitule-card.h6 
{
    margin : auto;
}


.card-edit {
    width: 100%;
    height: 95%;
}

.card-long{
    width: 69rem;
    height: 30rem;
}


.card-profile {
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 320px) {

    .form-group-login {
        width: 15rem;
        margin: 1rem 2rem 1rem 1rem;
    }

    .form-group-register {
        width: 16rem;
        margin: 1rem 2rem 1rem 1rem;
    }
}

@media screen and (min-width:768px) {

    .form-group-login {

        width: 20rem;
    }

    .form-group-register {
        width: 26rem;
    }

}

@media screen and (min-width:1024px) {

    .form-group-login {

        width: 20rem;

    }
 }

