  .sidebar {
      margin-top: 10%;
      margin-left: .3em;
      padding: 0;
      width: 154px;
      background-color: #ffd907;
      position: fixed;
      overflow: auto;

    }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #1d1b17;
    padding: 16px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #010201;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.46);
    color: rgb(255, 251, 255);
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }