.form-group-login
{
    width: 20rem;
    margin: 2rem 1rem 0;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 2rem;
    border-radius: .2rem;
}

.form-group-register
{
    width: 33rem;
    height: auto;
    margin: 1em;
    text-align: center;
    border: 1px solid #dfdfdf;
    padding: 1rem 2rem;
    border-radius: .2rem;
}

input[type="text"],
input[type="password"] {
    margin:8px 0;
}

input[type="password"] 
{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: "Pavanam", sans-serif;
}

input[type=text]:focus 
{
    border: 3px solid #555;
}

.subtitule-card.h6 
{
    margin : auto;
}


.card-edit {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.card-long{
    margin: 1rem 0 0;
    padding: 0;
    width: 100%;
    height: auto;
}


.card-profile {
    padding: 0;
    margin: 0;
  width: 100%;
  height: auto;
}

.react-tabs {
    margin: .75rem;
    font-size: .9rem;
}


@media screen and (min-width: 320px) {

    .form-group-login {
        width: 15rem;
        margin-top: 4rem;
    }

    .form-group-register {
        margin-top: 4rem;
        width: 16rem;
    }
}

@media screen and (min-width:768px) {

    .form-group-login {

        width: 20rem;
        margin: 3.5rem 1rem 0;
    }

    .form-group-register {
        width: 26rem;
        margin-top: 5.5rem;
    }

}

@media screen and (min-width:1024px) {

    .form-group-login {
        width: 20rem;
        margin: 2.5rem 1rem 0;
    }

    .form-group-register {
        margin-top: .5rem;
    }
 }

