.form-group
{

    flex-basis: 100%;
    margin: .2em;
    text-align: center;
}


input[type="text"],
input[type="password"] {
    margin:8px 0;
}

input[type="password"] 
{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: "Pavanam", sans-serif;
}

input[type=text]:focus 
{
    border: 3px solid #555;
}

.subtitule-card.h6 
{
    margin : auto;
}

.card-title.h5 {
    margin: auto;
    padding: 1em 1em;
    font-family: "Pavanam", sans-serif;
}

.card-upload {

}

.card-edit {
    width: 100%;
    height: 95%;
}

.card-long{
    width: 69rem;
    height: 30rem;
}

.card-register {
    width: 26rem;
    height: 24rem;

}

.card-login {
    width: 20rem;
    height: 20rem;
    right: 24rem;
    top: 2rem;
}