
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 1rem;
}

.button6 {
    background-color:dodgerblue;
    color: white;
    border: 1px solid #555555;
    border-radius: 1rem;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.button-direction-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

